<div class="sidebar">
    <div class="sidebarContainer" *ngIf="sideBarView">
        <div class="sidebar__header">
            <h1>
                AhorrApp
            </h1>
        </div>
        <div class="router-button">
            <nav>
                Pagina de inicio
            </nav>
        </div>
        <div class="router-button">
            <nav>
                Ranking
            </nav>
            <div class="icon">
                <img src="../../../assets/Imagenes/trofeo.png"/>
            </div>
        </div>
        <div class="router-button">
            <nav>
                Amigos
            </nav>
        </div>
    </div>    
    <div class="tosee" (click)="viewSideBar()">

        <mat-icon class="iconToSidebar" *ngIf="sideBarView===false">keyboard_arrow_right</mat-icon>    
        <mat-icon class="iconToSidebar" *ngIf="sideBarView===true">keyboard_arrow_left</mat-icon>    
    </div>
</div>
<router-outlet></router-outlet>