<div class="modalContainer">
    <div class="container" >
        <div class="divText">
            <h1>Introduce tus ingresos!</h1>
        </div>
        <form [formGroup]="formReg" class="form" (ngSubmit)="fillForm()">
            <input type="date" formControlName="date" class="textInput" [placeholder]="'Fecha'" [min]="minDate" [max]="maxDate">
            <select inputmode="true" formControlName="type">
                <option *ngFor="let option of types" value="{{option.type}}">
                    {{option.type}}
                </option>
            </select>
            <input type="number" formControlName="value" class="textInput" [placeholder]="'Cantidad'">
            <div class="buttonContainer">
                <button mat-raised-button color="warn"type="submit" >Añadir Ingreso</button>
            </div>
        </form>

    </div>
    <div class="tableContainer" >
        <table class="table">

            <tr class="row">
                <th class="header">
                    Fecha
                </th>
                <th class="header">
                    Tipo de ingreso
                </th>
                <th class="header">
                    Cantidad
                </th>
            </tr>
            <tr class="row" *ngFor="let save of saves">
                <td class="field">
                    {{save.date | datePipe }}
                </td>
                <td class="field">
                    {{save.type}}
                </td>
                <td class="field">
                    {{save.value}}
                </td>
            </tr>
        </table>

    </div>
</div>
    