<div class="modalContainer">
    <div class="container" >
        <div class="divText">
            <h1>Introduce tus gastos!</h1>
        </div>
        <form [formGroup]="formReg" (ngSubmit)="insertBill()" class="form">
            <input type="date" formControlName="fecha" class="textInput" [placeholder]="'Fecha'">
            <select inputmode="true" formControlName="tipo">
                <option *ngFor="let option of typesOfBills" value="{{option.type}}">
                    {{option.type}}
                </option>
            </select>
            <input type="number" formControlName="cantidad" class="textInput" [placeholder]="'Cantidad'">
            <div class="buttonContainer">
                <button mat-raised-button color="warn"type="submit" >Añadir gasto</button>
            </div>
        </form>

    </div>
    <div class="tableContainer" *ngIf="loadData===false && allBills.length>0">
        <table class="table">

            <tr class="row">
                <th class="header">
                    Fecha
                </th>
                <th class="header">
                    Tipo
                </th>
                <th class="header">
                    Cantidad
                </th>
            </tr>
            <tr class="row" *ngFor="let bill of allBills">
                <td class="field">
                    <span>
                        {{bill.fecha | datePipe}}
                    </span>
                </td>
                <td class="field">
                    <span>
                        {{bill.tipo}}
                    </span>
                </td>
                <td class="field">
                    <span>
                        {{bill.cantidad}} €
                    </span>
                </td>
            </tr>
        </table>

    </div>

<!--     
        <table mat-table [dataSource]="">


        </table> -->

</div>
    