/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host ::ng-deep .advanced-pie-legend .total-label{
    margin-top: 10px;
}
:host ::ng-deep .advanced-pie-legend .legend-items-container .legend-items{
    padding-top: 10px;
}
