.container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .img_container{
        height: 40px;
        vertical-align: bottom;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .text_container{
        height: 40px;
     vertical-align: bottom;   
    }
}