<div class="container">
    <h1>Historial del mes a dia {{currentDate|date}}</h1>
    <div class="viewsContainer">

        <div class="monthBills">
            <table>
                <tr class="row">
                    <th class="header">Fecha</th>
                    <th class="header">Tipo</th>
                    <th class="header">Cantidad</th>
                </tr >
                <tr class="row" *ngFor="let bill of bills">
                    <td class="field">{{bill.fecha |  date}}</td>
                    <td class="field">{{bill.tipo}}</td>
                    <td class="field">{{bill.cantidad}}</td>
                </tr>
            </table>
            <h1>Total de gastos {{objectiveData.allBills}}</h1>
        </div>
        <div class="progressGraphic">
                <apx-chart
                [series]="[objectiveData.objectives]"
                [chart]="chart"
                [plotOptions]="plotOptions"
                [fill]="fill"
                ></apx-chart>
        </div>
        <div class="monthSaves">
            <table>
                <tr class="row">
                    <th class="header">Fecha</th>
                    <th class="header">Tipo</th>
                    <th class="header">Cantidad</th>
                </tr>
                <tr class="row" *ngFor="let save of saves">
                    <td class="field">{{save.date|date}}</td>
                    <td class="field">{{save.type}}</td>
                    <td class="field">{{save.value}}</td>
                </tr>
            </table>
            <h1>Total de ingresos {{objectiveData.allSaves}}</h1>
        </div>
    </div>
</div>