<div class="container" *ngIf="eventsUser.length>0">
    <div class="notSidebar" (mouseover)="showNavigation()" *ngIf="!showNavigationBar">
    
    </div>
    <div class="sidebar" (mouseleave)="leaveNavigation()" *ngIf="showNavigationBar">
        <app-navigate-bar></app-navigate-bar>
    </div>
    <h1>Tus eventos</h1>
    <div class="tableContainer">
        <table>
            <tr class="row">
                <th class="header">Dia del evento</th>
                <th class="header">Nombre del evento</th>
                <th class="header">Participantes</th>
                <th class="header">Coste total</th>
            </tr>
            <tr class="row" *ngFor="let event of eventsUser" (click)="goToEvent(event)">
                <td class="field">{{event.date|date}}</td>
                <td class="field">{{event.name}}</td>
                <td class="field">{{event.participantes}}</td>
                <td class="field">{{event.value}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="container" *ngIf="eventsUser.length==0">
    <div class="notSidebar" (mouseover)="showNavigation()" *ngIf="!showNavigationBar">
    
    </div>
    <div class="sidebar" (mouseleave)="leaveNavigation()" *ngIf="showNavigationBar">
        <app-navigate-bar></app-navigate-bar>
    </div>
    <h1>No has creado ningun evento</h1>
    <div class="buttonContainer">
        <button mat-raised-button color="warn" (click)="goToCreateEvent()">
            Ir a crear evento
        </button>
    </div>
</div>