<div class="container">
    <div class="navigation">
        <app-navigate-bar></app-navigate-bar>
    </div>
    <div class="graphicContainer" *ngIf="bills.length>0 && loadGraphic">

        <app-graphic [data]="bills"></app-graphic>
    </div>
    <div class="graphicContainer" *ngIf="bills.length===0">
        <div class="spinner">
            <mat-spinner [diameter]="300"></mat-spinner>
        </div>
    </div>
    <div class="buttonsContainer">
        <button mat-flat-button color="primary" (click)="openModal('a')">
            Introducir gasto
        </button>
        <button mat-flat-button color="primary" (click)="openModal('b')">
            Introducir ingreso
        </button>
    </div>
    <div class="historicalBills">
        <app-historical-bills></app-historical-bills>
    </div>
</div>