<div class="navigator">
    <div class="modules">
        <div class="img">
            <button  (click)="goToObjectives()">
                <img src="../../assets/Imagenes/Objetivo.png">
            </button>
        </div>
    </div>
    <div class="modules">
        <div class="img">
            <button (click)="goToGestor()">
                <img  src="../../assets/Imagenes/gestor.png">
            </button>
        </div>
    </div>
    <div class="modules">
        <div class="img">
            <img src="../../assets/Imagenes/evento (2).png">
        </div>
    </div>
</div>