<div class="navigator">
    <div class="modules">
        <div class="img">
            <button  (click)="goToObjectives()">
                Ir a objetivos
            </button>
            <mat-icon>attach_money</mat-icon>
        </div>
    </div>
    <div class="modules">
        <div class="img">
            <button (click)="goToGestor()">
                Ir a gestor
            </button>
            <mat-icon>bar_chart</mat-icon>

        </div>
    </div>
    <div class="modules">
        <div class="img">
            <button (click)="goToSocial()">
                Ir a eventos
            </button>
            <mat-icon>airplanemode_active</mat-icon>

        </div>
    </div>
</div>