<div class="navigator">
    <div class="modules">
        <div class="img">
            <button  (click)="goToObjectives()">
                Ir a objetivos
            </button>
        </div>
    </div>
    <div class="modules">
        <div class="img">
            <button (click)="goToGestor()">
                Ir a gestor
            </button>
        </div>
    </div>
    <div class="modules">
        <div class="img">
            <button (click)="goToSocial()">
                Ir a eventos
            </button>
        </div>
    </div>
</div>