<div class="container">
    <div class="findFriend">
        <form  [formGroup]="formReg" (ngSubmit)="findFriend()">
            <input type="text" formControlName="name">
            <button mat-raised-button color="warn"type="submit" >Buscar amigo</button>
        </form>
        <div class="searchFriend" *ngIf="showSearch">
                <div class="friendSearch" *ngFor="let user of newFriend">
                    <span>
                        {{user.username}}
                    </span>
                    <button mat-raised-button color="warn"type="submit" (click)="addFriend(user)" >Agregar amigo</button>
                </div>
        </div>
    </div>
</div>