:host :ng-deep .apexcharts-legend-text{
    color: white;

}
.container{
    background: black;
    height: 100%;
    .notSidebar{
        height: 26px;
        background: black;
        margin-bottom: 10px;
    }
    .sidebar{
        height: 26px;
        margin-bottom: 10px;

    }
    .containerData{
        display: flex;
        justify-content: space-between;
        .addSave{
            display: flex;
            flex-direction: column;
            h2{
                font-size: 16px;
                color: white;
            }
            form{
                display: flex;
                flex-direction: column;
                select{
                    width: 176px;
                    height: 20px;
                    color: white;
                    padding-left: 20px;
                    font-size: 12px;
                    background: coral;
                    border-radius: 16px;
                }
                .endInput{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    input{
                        margin-top: 10px;
                        width: 150px;
                        height: 20px;
                        color: white;
                        padding-left: 20px;
                        font-size: 20px;
                        background: coral;
                        border-radius: 16px;
                    }
                    button{
                        width: 100px;
                    }
                }
            }
            .historical{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                span{
                    color: coral;
                }
            }
        }
        .mainGraphic{
            h2{
                text-align: center;
                color: white;
            }
            .buttonsContainer{
                display: flex;
                justify-content: center;
                button{
                    display: flex;
                    justify-content: center;
                    margin-left: 10px;
                    margin-right: 10px;
                    background: coral;
                    color: white;
                    span{
                        margin-top: 5px;
                        margin-right: 6px;
                    }
                    mat-icon{
                    }
                }
            }
            .graphic{
                margin-top: 40px;
    
                border-radius: 8px;
            }
        }
        .participantesContainer{
            overflow-y: auto;
            max-height: 550px;
            table{
                .row{
                    .header{
                        height: 50px;
                        background: coral;
                        color: white;
                        border-radius: 5px;
                    }
                    .field{
                        background: #f5f5f5;
                        border-bottom: 1px solid #e6e6e6;
                        align-items: center;
                        padding: 0 20px;
                    }
                    .fieldChart{
                        background: #f5f5f5;
                        border-bottom: 1px solid #e6e6e6;
                        align-items: center;
                        width: 180px;
                        height: 100px;
                    }
                }
            }
        }
    }
}